# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/
.cache/
.next/

# Prisma
prisma/dev.db
prisma/dev.db-journal
prisma/migrations/
*.db-journal

# TypeScript
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# IDEs e SO
.vscode/
.idea/
.DS_Store
Thumbs.db
